<div class="detail-container" *ngIf="country">
  <h1>{{ country.country }}</h1>
  <div class="counter-block">
    <app-counter [title]="'Number of JOs'" [count$]="participationsCount$"></app-counter>
    <app-counter [title]="'Nombre total de médailles'" [count$]="totalMedals$"></app-counter>
    <app-counter [title]="'Nombre total d\'athlètes présentés'" [count$]="totalAthletes$"></app-counter>
  </div>
  <div class="chart-container">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="chartData"
      [legend]="false"
      [xAxis]="true"
      [yAxis]="true"
      [autoScale]="true">
    </ngx-charts-line-chart>

  </div>

  <button (click)="goBack()">Retour</button>
</div>

<ng-template #loading>
  <p>Chargement des données...</p>
</ng-template>
