<div class="dashboard-container">
  <h1>Medals per Country</h1>

  <div class="counter-block">
    <!-- Composant pour afficher le nombre total de Jeux Olympiques -->
    <app-counter [title]="'Total Jeux Olympiques'" [count$]="totalGames$"></app-counter>

    <!-- Composant pour afficher le nombre total de pays participants -->
    <app-counter [title]="'Total Pays Participants'" [count$]="totalCountries$"></app-counter>
  </div>

  <div *ngIf="chartData.length > 0; else loading" class="chart-container">
    <ngx-charts-pie-chart
      [view]="view"
      [results]="chartData"
      [scheme]="colorScheme"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [doughnut]="doughnut"
      [labels]="showLabels">
    </ngx-charts-pie-chart>
  </div>

  <ng-template #loading>
    <p>Chargement des données...</p>
  </ng-template>
</div>
