<div class="dashboard-container">
  <h1>Medals per Country</h1>

  <p>{{ (olympics$ | async)?.length }} data loaded</p>

  <div *ngIf="chartData.length > 0; else loading"  class="chart-container">

    <ngx-charts-pie-chart
      [view]="view"
      [results]="chartData"
      [scheme]="colorScheme"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [doughnut]="doughnut"
      [labels]="showLabels">
    </ngx-charts-pie-chart>
  </div>
  <ng-template #loading>
    <p>Chargement des données...</p>
  </ng-template>
</div>
